<h1>[管理者用]打刻編集</h1>

<h2><%= @stamp.user.name %></h2>

<%= form_with model: @stamp do |f| %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col" ></th>
				<th scope="col" >日付</th>
				<th scope="col" >出勤時刻</th>
				<th scope="col" >退勤時刻</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>更新前</td>
				<td><%= @stamp.in_time.strftime("%F") %></td>
				<td><%= @stamp.in_time.strftime("%R") %></td>
				<td><%= @stamp.out_time.strftime("%R") %></td>
			</tr>
			<tr>
				<td>↓</td>
			</tr>
			<tr>
				<td>更新後</td>
				<td></td>
				<td><%= f.datetime_field :in_time %></td>
				<td><%= f.datetime_field :out_time %></td>
				
			</tr>
		</tbody>
	</table>
	<%= f.submit '編集を反映' %>
<% end %>