<h1>出勤記録詳細</h1>

<h2><%= @stamp.user.name %>さん</h2>

<table class="table table-striped" >
	<thead>
		<tr>
			<th scope="col" >出勤時刻</th>
			<th scope="col" >退勤時刻</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @stamp.in_time.strftime("%F %R") %></td>
			<td><%= @stamp.out_time.strftime("%R") %></td>
		</tr>
	</tbody>
</table>

<h2>変更履歴</h2>
<% @stamp.stamp_logs.each do |stamp_log|%>
<p>edited by <%= stamp_log.user.name %> on <%= stamp_log.created_at.strftime("%F %R") %></p>
	<table class="table table-striped" >
		<thead>
			<tr>
				<th scope="col" ></th>
				<th scope="col" >日付</th>
				<th scope="col" >出勤時刻</th>
				<th scope="col" >退勤時刻</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>更新前</td>
				<td><%= stamp_log.old_in_time.strftime("%F") %></td>
				<td><%= stamp_log.old_in_time.strftime("%R") %></td>
				<td><%= stamp_log.old_out_time.strftime("%R") %></td>
			</tr>
			<tr>
				<td>↓</td>
			</tr>
			<tr>
				<td>更新後</td>
				<td><%= stamp_log.new_in_time.strftime("%F") %></td>
				<td><%= stamp_log.new_in_time.strftime("%R") %></td>
				<td><%= stamp_log.new_out_time.strftime("%R") %></td>
			</tr>
		</tbody>
	</table>
<% end %>