<table>
	<thead>
		<tr>
			<th>日付</th>
			<th>出勤時刻</th>
			<th>退勤時刻</th>
			<th>勤務時間</th>
			<th>編集履歴</th>
		</tr>
	</thead>
	<tbody>
		<%# 総勤務時間表示のための入れ物準備　%>
		<% all_work_sec = 0 %>
		<% stamps.each do |stamp| %>
			<tr>
				<td><%= stamp.in_time.day %></td>
				
				<td><%= stamp.view_in_time %></td>
				<%#退勤してないと表示できないのでチェック%>
				<% if stamp.out_time %>	
					<td><%= stamp.view_out_time %></td>
					<td>
						<%= stamp.work_hour %>
						<%# 総勤務時間の計算　%>
						<% work_sec = (stamp.out_time - stamp.in_time).floor %>
						<% all_work_sec = all_work_sec + work_sec %>
					</td>
					<td><%= stamp.stamp_logs.count %>件</td>
					<td><%= link_to '詳細', stamp_path(stamp.id) %></td>

					<% if current_user.is_admin %>
						<td><%= link_to "編集", edit_stamp_path(stamp.id) %></td>
						<td><%= link_to "削除", stamp_path(stamp.id), method: :delete, "data-confirm" => "この出勤記録を削除しますか？" %></td>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>

<h3>総勤務時間</h3>
<%= Time.at(all_work_sec).utc.strftime('%R') %>
<h3>総勤務回数</h3>
<%= stamps.count %>