<h1>users#main</h1>
<h2><%= @user.name %></h2>

<% if @user.is_on_duty %>
	<%= link_to "退勤" , clock_out_path, method: :patch %>
<% elsif %>
	<%= link_to "出勤" , clock_in_path, method: :post %>
<% end %>

<%= flash[:failure] %>
<%= link_to "管理者画面",users_path %>
<%# if @user.is_admin %>
	<%#= link_to "管理者画面",users_path %>
<%# end %>


<%= render 'stamp_table', stamps: @stamps %>