<h1><%= @user.name %>さん、こんにちは</h1>

<% if @user.is_on_duty %>
	<p type="button" class="btn btn-outline-primary"><i class="fal fa-house-return"></i><%= link_to "退勤" , clock_out_path, method: :patch %></p>
<% elsif %>
	<p type="button" class="btn btn-outline-primary"><i class="far fa-building"></i><%= link_to "出勤" , clock_in_path, method: :post %></p>
<% end %>

<%= flash[:failure] %>
<%= link_to "管理者画面へ",users_path %>

<%= render 'stamp_table', stamps: @stamps %>