<!DOCTYPE html>
<html>
  <head>
    <title>Stamping</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "shadow-sm" >
      <% if user_signed_in? %>
        <%= link_to "Main Page", users_main_path %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
